.whole_form{
    max-width: 800px;
    margin: 0 auto;
}

.input_form {
    max-width: 300px;
    margin: 0 auto;
    float: left;
    margin-left: 30px;
}

.label_s{
    margin-right: 10px;
}

.time-group {
    margin: 0 auto;
}

#KING_FORM {
    width: 100px;
    float: left;
    margin-right: 20px;
}

#KING {
    width: 100px;
}

#WRT_DATE{
    width: 100px;
}

#ACTIVITY_CONTENTS {
    height: 100px;
}

#ACT_DATE_Y {
    width: 80px;
    float: left;
}

#ACT_DATE_M {
    width: 80px;
    float: left;
}

#ACT_DATE_D {
    width: 80px;
}

#START_TIME_H {
    width: 50px;
    float: left;
    margin-right: 10px;
}

#START_TIME_M {
    width: 50px;
    float: left;
    margin-right: 10px;
}

#END_TIME_H {
    width: 50px;
    float: left;
    margin-right: 10px;
}

#END_TIME_M {
    width: 50px;
}

#APMBUTTON {
    margin-bottom: 10px;
}

.between_box {
    margin-right: 10px;
    float: left;
}

.title_text {
    text-align: center;
}

.acting_members {
    max-width: 600px;
    margin: 0 auto;
    float: left;
}

/** STUDENTS_FORM **/

.STD_INPUT {
    width: 100px;
    float: left;
    margin: 10px;
}





