<!doctype html>
<html>
    <head>
        <title>Upload new File</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/common.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}" />
    </head>
    </head>
    <body>
        <h1 class="title_text">활동내역서 공장 시스템</h1>
        <form action="/make/" enctype="multipart/form-data" method="POST" class="whole_form" id="sending_form">
        <div class="input_form">
            <div class="form-group" id="KING_FORM">
                <label for="KING" class="label_s">동아리 회장</label>
                <input type="text" class="form-control" name="KING" id="KING" placeholder="동아리 회장" value="김유창">
            </div>
            <div class="form-group">
                <label for="WRT_DATE" class="label_s">작성일</label>
                <input type="text" class="form-control" name="WRT_DATE" id="WRT_DATE" placeholder="작성일">
            </div>
            <div class="form-group">
                <label for="KING_L">동아리 명</label>
                <input type="text" class="form-control" name="CLUB_NAME" id="CLUB_NAME" placeholder="동아리 명" value="HeXA">
            </div>
            <div class="form-group">
                <p>활동 날짜</p>
                <input type="text" class="form-control" name="ACT_DATE_Y" id="ACT_DATE_Y" placeholder="년도">
                <input type="text" class="form-control" name="ACT_DATE_M" id="ACT_DATE_M" placeholder="달">
                <input type="text" class="form-control" name="ACT_DATE_D" id="ACT_DATE_D" placeholder="일">
            </div>
            <div class="form-group">
                <p>활동 시간</p>
                
                <div class="btn-group" data-toggle="buttons" id="APMBUTTON">
                    <label class="btn btn-default">
                        <input type="radio" id="q156" name="TIME_APM" value="AM" /> AM
                    </label> 
                    <label class="btn btn-default">
                        <input type="radio" id="q157" name="TIME_APM" value="PM" /> PM
                    </label>
                </div>
                </br>
                <div class="time-group">
                    <input type="text" class="form-control" name="START_TIME_H" id="START_TIME_H" placeholder="시간">
                    <input type="text" class="form-control" name="START_TIME_M" id="START_TIME_M" placeholder="분">
                    <p class="between_box">~</p>
                    <input type="text" class="form-control" name="END_TIME_H" id="END_TIME_H" placeholder="시간">
                    <input type="text" class="form-control" name="END_TIME_M" id="END_TIME_M" placeholder="분">
                </div>
            </div>
            <div class="form-group">
                <label for="KING_L">활동 장소</label>
                <input type="text" class="form-control" name="PLACE" id="PLACE" placeholder="활동 장소" value="LG software Lab">
            </div>
             <div class="form-group">
                <label for="KING_L">활동 유형</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" id="q156" name="CHECK_TYPE" value="A" /> A
                    </label> 
                    <label class="btn btn-default">
                        <input type="radio" id="q157" name="CHECK_TYPE" value="B" /> B
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="KING_L">활동 내용</label>
                <input type="text" class="form-control" name="ACTIVITY_CONTENTS" id="ACTIVITY_CONTENTS" placeholder="활동 내용">
            </div>
        
        <p>여기다 사진을 드래그하세요</p>
        <!---->
            <p>활동 사진</p>
            <input type=file name="ACT_PIC">
            <p>단체 사진</p>
            <input type=file name="TOGETHER_PIC">
            </br>
            <input type=submit value=Upload>
        
        </div>

        <div class="acting_members" id="form0">
            <div class="form-group">
                <div class="STD_INPUT">
                    <input type="text" class="form-control" name="MEMBERS_NAME0" id="ACT_MEMBERS_NAME0" placeholder="이름" onFocus="copy();">
                </div>
                <div class="STD_INPUT">
                    <input type="text" class="form-control" name="MEMBERS_NUM0" id="ACT_MEMBERS_NUM0" placeholder="학번">
                </div>
                <div class="STD_INPUT">
                    <label>
                        <input type="checkbox" name="IS_ON0"> 참석 여부
                    </label>
                </div>
                <div class="STD_INPUT">
                    <input type="text" class="form-control" name="MEMBERS_ETC0" id="ACT_MEMBERS_ETC0" placeholder="비고">
                </div>
            </div>
        </div>

       </form>
    </body>
</html>